<li>
	<form method="post" action="/" autocomplete="off">
		<input type="text" name="last_guess" placeholder="Guess a letter">
		<input type="submit" value="Guess!">
	</form>
</li>
<li>
	<form method="post" action="/save">
		<button type="submit" name="save_game_button">Save Game</button>
	</form>
</li>
<li>
	<form method="post" action="/load">
		<button type="submit" name="load_game_button">Load Game</button>
	</form>
</li>