<!DOCTYPE html>
<html>
<head>
	<title>Game Over</title>
</head>
<body>
	<p><%= @message %></p>
	<form method="get" action="/home">
  	<button type="submit" value="play_again">Play Again?</button>
  </form>
</body>
</html>